Xft.dpi:        96
Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
Xft.hintstyle:  hintslight

XTerm*fontMenu*fontdefault*Label: Default
XTerm*visualbell: true
XTerm*xftAntialias: 1
XTerm*cjkWidth: 0
XTerm*scrollBar: 0
XTerm*bellIsUrgent: 1
XTerm*locale: 1
XTerm.utf8: 1
XTerm*utf8Title: 1
XTerm*pointerColor: white
XTerm*pointerColorBackground: black
XTerm*cursorColor: yellow
XTerm*cursorBlink: true
xterm*faceName:  xft:Inconsolata\ for\ Powerline
xterm*faceSize:  9
xterm*loginShell: true
xterm*vt100*geometry: 87x24
xterm*termName: xterm-256color
xterm*saveLines: 9000
xterm*charClass: 33:48,35:48,37:48,43:48,45-47:48,64:48,95:48,126:48
xterm*eightBitInput: false
Xterm*borderWidth: 0

*VT100*translations: #override Shift <Btn1Up>: exec-formatted("firefox '%t'", PRIMARY)
XTerm*on3Clicks: regex ([[:alpha:]]+://)?([[:alnum:]!#+,./=?@_~-]|(%[[:xdigit:]][[:xdigit:]]))+

*foreground:   #b2a191
*background:   #171717

*color0:       #202020
*color8:       #404040

*color1:       #bf3f34
*color9:       #ff6c5f

*color2:       #707d22
*color10:      #b8ca4b

*color3:       #bf7a29
*color11:      #c7a551

*color4:       #627a92
*color12:      #95b9de


*color5:       #75507b
*color13:      #ad7fa8

*color6:       #757978
*color14:      #9fa590

*color7:       #b2a191
*color15:      #e8d0c3
